body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.logo-img{
  width: 22%;
  margin-left: 40%;
  margin-top:70px;

  
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}


.header a,
.header button {
  font-size: 1.2rem;
  display: inline-block;
  background-color: #0a0a0a;
  border: 1px solid rgb(24, 23, 23);
  margin: 1rem;
  padding: 1rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: .5rem;
}

main {
  margin: 1rem;
}

form {
  background-color: #faf8f3;
  border: 0.5px solid rgb(2, 1, 1);
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  padding: 0 1rem 1rem;
  border-radius: .5rem;
}

form input {
  margin: 0.25rem 0;
  display: block;
  box-sizing: border-box;
  width: 90%;
  height: 2.4375rem;
  margin-top:3%;
  margin-left: 4%;
  padding: .5rem;
  border: 1px solid #e2e2e2;
  border-radius: .5rem;
  background-color: #adbffa;
  box-shadow: inset 0 1px 2px rgb(10 10 10 / 10%);
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #0a0a0a;
  transition: box-shadow .5s,border-color .25s ease-in-out;
  background-color: rgb(255, 255, 255);
  -webkit-appearance: none;
  appearance: none;
  
}

form button[type="submit"] {
  width: 15%;
  height: 10%;
  font-family: "SF Pro Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.75;
  color: white;
  border: none; /* Remove the default border */
  border-radius: .5rem;
  background: linear-gradient(#090a0a, #0b0c0c);
  box-shadow: 
      inset 0 1px 0 rgba(255,255,255,0.3),
      0 1px 2px rgba(0,0,0,0.35),
      inset 0 3px 2px rgba(255,255,255,0.2),
      inset 0 -3px 2px rgba(0,0,0,0.1);

  cursor: pointer;
  border-radius: 25px;
  padding: 9px 20px;
  font-stretch: normal;
  font-style:normal;
  white-space: nowrap;
  font-weight: 600;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 2%;
  width: 40%;
}


.login-img{

  width: 12%;
  margin-left: 42%;
  margin-top: 10px;
  padding: 40px;

}

.sign-up-img{

  width: 12%;
  margin-left: 42%;
  margin-top: 10px;
  padding: 40px;

}

.students-nav-bar{
  font-size: 1rem;
  background-color: #f8f8f8;
  border: 1px solid rgb(24, 23, 23);
  margin-left: -20px;
  padding: 1rem;
  text-decoration: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: .5rem;

}

.home-page-desc{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 100px;
  margin-left: 32%;
  font-weight: normal;
  font-size: 17px;
  
}

.mid-text {
  margin-top: -60px;
  width: 32%;
  font-weight: lighter ;
  margin-left: 630px;
  font-stretch: wider;
  color: rgb(27, 26, 26);
  letter-spacing: 2px;
  line-height: 16pt
  
 }

 .footer-text{
  margin-top:13%;
  font-size: medium;
  font-stretch: narrower;
  cursor: pointer;
  font-weight: lighter;
  font-stretch: semi-expanded;
  color: rgb(20, 19, 19);
  margin-left: 38%;
  font-stretch:wider;
  
}

.teacher-image{
  width:50%;
  height:30%;
}


.reminders-block{
  margin-left: 990px;
  margin-top:-520px;
  width: 450px; 
  height: 470px; 
  background-color: rgb(249, 252, 210);
  padding: 1rem;
  text-align: left;
  box-shadow: 0px 13px 10px black;
  /* transform: rotate(0deg); */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  
}

.lesson-plan-block{
  width:97%; 
  height:200px;
  /* display:flex;
  flex-direction:column;
  justify-content:center; */
  background:#F0F0D8;
  margin-top: 70px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 1rem;
  text-align: left;

  /* margin-left:1200px; */
  /* margin-top:-310px;
  box-shadow: rgba(164, 164, 230, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  width: 500px; 
  height: 89px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: left;
  position: relative;
  padding: 1rem;
  display: flex;
  height: 100px;
  width:350px;
  margin-left:1000px;
  margin-top:-250px;
  overflow: hidden;
  font-size: 18px;
 
  padding: 2rem 1rem;
  background: #f1f1eb33;
 
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */

}

.additional-image-block {
  /* margin-top: 150px;
  width: 150px; 
  height: 170px;  */

}

.additional-image{
  height: 30%;
  width: 20%;

}

.student-image{
  height: 30%;
  width:20%;

}

.add-student-button{

  font-size: 1rem;
  display: inline-block;
  background-color: #030303;
  border: 1px solid rgb(24, 23, 23);
  padding: 1rem;
  text-decoration: none;
  color: rgb(255, 254, 254);
  cursor: pointer;
  border-radius: .5rem;
  margin-left:69%;
  margin-top: -118px;
  height: 30%;
  width:11%;

}

.remove-Student-Button{

  font-size: 1rem;
  display: inline-block;
  background-color: #303030;
  border: 1px solid rgb(24, 23, 23);
  margin: 1rem;
  padding: 1rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: .5rem;
  
}


.student-info{
  font-family: Verdana, Arial, Helvetica, sans-serif; 
}

.student-display-text{
  font-weight: normal;
}


.student-display-container{
  border: 1px solid rgb(24, 23, 23);
  border-width: thick;
  border-spacing: 0vmax;
  width:80%;
  margin-top: 2%;
  text-align: left;
  padding: 1rem;
}
